
#header_container h1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#left_container li {
    margin-left: -2em;
}

div.thebox {
    margin-left:    2em;
    margin-right:   2em;
    padding-top:    2em;
    padding-bottom: 2em;
    padding-left:   2em;
    padding-right:  2em;
    border: 3px solid #555;
    background-color: #eed;
}

div.set_form {
    margin-left: 2em;
    margin-top: 0.5em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    background-color: #edb;
}

